body {
  margin: 0%;
  background-color: rgb(39, 41, 40);
}

.bosses {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.título {
  background-color: rgba(14, 43, 96, 0.966);
  padding: 1%;
}

.imagenocant {
  position: fixed;
  top: 0;
  right: 0;
  width: 200px; /* Ajuste o tamanho da imagem conforme necessário */
  height: 200px;
}

h1,
h2,
h3 {
  color: rgb(233, 234, 255);
  text-align: center;
}

p {
  text-align: left;
  font-family: arial;
}
footer {
  background-color: rgba(9, 26, 58, 0.966);
  color: rgb(233, 234, 255);
  margin: 0px;
  padding: 5%;
  font-family: arial;
}
main {
  color: rgb(233, 234, 255);
  background-color: rgb(3, 3, 9);
  text-align: center;
  padding: 12%;
  font-family: arial;
}

img {
  width: 80%;
  height: 80%;
}
nav {
  padding: 3%;
  color: rgb(245, 245, 220);
  background-color: rgba(9, 26, 58, 0.966);
  font-family: arial;
}
nav a {
  text-decoration: none;
  color: rgb(245, 245, 220);
}

header nav ul li a:hover {
  color: #ff6f00;
}

input[type="submit"]:hover {
  transition: transform 0.5s;
}

.bosses img {
  max-width: 300px;
  width: 100%;
  max-height: 500px;
  height: 100%;
}

.bosses img:hover {
  transform: scale(1.05);
}

.nav-main {
  display: flex;
  justify-content: space-around;
  font-size: xx-large;
}

.historia img:hover {
  transform: scale(1.05);
}
