body {
    background-color: rgb(103, 164, 255);
}

h3 {
    color: black;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20%;
    margin-left: 25%;
    border: solid 5px gold;
    height: 250px;
    width: 50%;
    background-color: white;
}